body {
    font-family: sans-serif;
}

.soapexchange {
    margin-left: 1em;
}

#soapRequest {
    margin-right: 1em;
}
#soapRequest, .ok, .error {
    padding: 1em;
}

#soapRequest {
    border: 5px solid orange;
}
.error {
    border: 5px solid red;
}

.ok {
    border: 5px solid darkgreen;
}

#testresult.failed {
    color: red;
}

#testresult.passed {
    color: green;
}

.request, .response {
    font-size: smaller;
    width: 50%;
}
.request {
    float: left;
}
.response {
    float: right;
}

.tests {
   clear: both;
}

#asserts {
    width: 100%;
    height: 10em;
}