#section("body")

<h1>Reststop development console</h1>

<h2>Current plugins:</h2>

#foreach($classloader in $pluginClassloaders.entrySet())

    <div style="margin-top: 1.5em">
<strong>$classloader.key.pluginInfo.artifactId</strong>
    <span style="margin-left: 1em; font-size: smaller">($classloader.key.pluginInfo.version /  $classloader.key.pluginInfo.groupId)</span>

        <div style="margin-left: 1em">
            <p>$classloader.key.loadedClasses.size() classes loaded</p>
            ##foreach($clazz in $classloader.key.loadedClasses)
            ##$clazz.name<br>
            ##end
            ##foreach($url in $classloader.key.usedUrls)
            ## $url<br>
            ###end
            #if($classloader.value.size() > 0)
                <p>Plugin instances:</p>
    <ul>
        #foreach($plugin in $classloader.value)
        <li>
            $plugin.class.simpleName
            <span>($plugin.class.package.name)</span>
        </li>
        #end

    </ul>
            #end


        #set($deps = $classloader.key.pluginInfo.getDependsOn($pluginInfos))

        #if($deps.size() > 0)
            <p>Depends on:</p>
            <ul>
            #foreach($dep in $deps)
                <li>$dep.artifactId</li>
            #end
            </ul>
        #end

        #if($classloader.key.pluginInfo.getClassPath("runtime").size() > 0)
        Runtime classpath:
            <ul>
                #foreach($artifact in $classloader.key.pluginInfo.getClassPath("runtime"))
                    <li>$artifact.pluginId
                        #set($length = $artifact.file.length()/1024)
                        (${length}k)
                    #if($classloader.key.isUnused($artifact))
                        <strong>(unused)</strong>
                    #end
                    </li>
                #end
            </ul>
        #end

    </div>
    </div>
#end


#end
#parse("design.vm")