#section("body")

<h1>Reststop development console</h1>

<h2>Current plugins:</h2>

<p>
    <a href="#" onclick="document.querySelector('#pluginList').setAttribute('class','withDetails');return false">Details</a>
</p>
<div id="pluginList">
#foreach($classloader in $pluginClassloaders.entrySet())

    <div class="plugin" style="margin-top: 1.5em">

        <a name="$classloader.key.pluginInfo.pluginId"></a><strong>$classloader.key.pluginInfo.artifactId</strong>
        <span style="margin-left: 1em; font-size: smaller">($classloader.key.pluginInfo.version /  $classloader.key.pluginInfo.groupId
            / $dateTool.formatTime($classloader.key.creationTime))</span>

        <div class="plugininfo">
            <div class="dependson">
                #set($parents = $classloader.key.pluginInfo.getParents($pluginInfos))
                #set($children = $classloader.key.pluginInfo.getChildren($pluginInfos))

                #if($parents.size() > 0)
                    <p>Parents:
                        #foreach($parent in $parents)
                            <a href="#$parent.pluginId">$parent.artifactId</a>

                            #if($velocityHasNext), #end
                        #end
                    </p>
                #end
                #if($children.size() > 0)
                    <p>Children:
                        #foreach($child in $children)
                            <a href="#$child.pluginId">$child.artifactId</a>

                            #if($velocityHasNext), #end
                        #end
                    </p>
                #end
            </div>
            <div class="plugindetails">
                <p>Classes loaded: $classloader.key.loadedClasses.size()</p>
                #if($classloader.value.size() > 0)
                    <p>Plugin instances:</p>
                    <ul>
                        #foreach($plugin in $classloader.value)
                            <li>
                                <div>$plugin.class.simpleName
                                    <span>($plugin.class.package.name)</span>
                                </div>
                                <ul>
                                    #foreach($service in $plugin.serviceTypes)
                                        <li>
                                            $service.name : $plugin.getService($service)
                                        </li>
                                    #end
                                </ul>

                            </li>
                        #end

                    </ul>
                #end


                #if($classloader.key.pluginInfo.sourceDirectory)
                    <p>Source directory:
                    <ul>
                        <li>$classloader.key.pluginInfo.sourceDirectory</li>
                    </ul>
                    </p>
                #end



                #if($classloader.key.pluginInfo.getClassPath("runtime").size() > 0)
                    Runtime classpath:
                    <ul>
                        #foreach($artifact in $classloader.key.pluginInfo.getClassPath("runtime"))
                            <li>$artifact.pluginId
                                #set($length = $artifact.file.length()/1024)
                                (${length}k)
                                #if($classloader.key.isUnused($artifact))
                                    <strong>(unused)</strong>
                                #end
                            </li>
                        #end
                    </ul>
                #end

            </div>
        </div>
    </div>

#end
</div>

#end
#parse("design.vm")